* {
    box-sizing: border-box;
}
body {
    background-image: url(../images/concrete-texture.png);
}
li {
    float: left;
}
nav{
    position: relative;
    margin-bottom: 50px;
    background: #ffffff;
    bottom: 9px;
    border-bottom: 2px solid #cccccc;
    
}
header {
    background: #4aaaa5;
    width: 250px;
    padding: 25px;
    position: relative;
    left :350px;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
    text-align: left;
    font-family: Georgia,Times,"Times New Roman",serif;
    
}
ul{
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 420px;
    top : 65px;
    
}
li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-right: 1px solid #dddddd;
    color: #99979c;
    font-family: arial;
    
    font-size: 14px;
}

h2{
    color: #4aaaa5;
}

img {
    width: 20%;
    height: 5%;
        
}
#liner {
   border-top: 2px solid #cccccc;
   padding-bottom: 10px;
}

section {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 50%;
    position: relative;
    
    padding: 10px 20px 50px;
    top: 50px;
    margin-top: -70px;
    left:350px
    
}


#foot{
    background-color: #666666;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left:0;
    border-top:6px solid #4aaaa5;
}
#foot2{
    font-family: arial;
    font-size: 10px;
    text-align: center;
    color: #dddddd;
    position: absolute;
    left: 45%;
    top: 40%;
}

input[type=text],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: inline-block;
    transition: 0.5s;
    outline: none;
    color: #cccccc;
    
}
textarea {
    width: 100%;
    padding: 50px 20px;
    color: #99979c; 
    border: 1px solid #ccc;
}
label {
    font-family: arial;
    color: #99979c ;
}

input[type=text]:focus {
    border: 1px solid #555;
}

button {
    background-color: #4aaaa5;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
}
